{
  "extends": "airbnb/base",
  "rules": {
    "no-multiple-empty-lines": [2, {
      "max": 1
    }],
    "max-len": [2, 80, 2,
      {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignorePattern": "^\\s*import"
      }
    ],
    "no-param-reassign": [2, {
      "props": false
    }],
    "new-cap": [2, {
      "capIsNewExceptions": ["$.Deferred"]
    }],
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "after-used",
      "varsIgnorePattern": "$"
    }],
    "import/prefer-default-export": false,
    "import/no-unresolved": true,
    "import/extensions": true,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }]
  },
  "globals": {
    "test": false,
    "window": false,
    "document": false,
    "alert": false,
    "console": false
  }
}
