.content {
	line-height: $grid;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	display: block;
	overflow: hidden;

	h1 {

	}

	&__logo {
		display: block;
		height: $grid * 16;
		margin-top: $grid;
		margin-left: -3.25rem;

		@media #{$smaller-than-landscape-tablet} {
			margin-top: $grid * 4;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $grid * -2;
		}

		@media #{$smaller-than-landscape-phone} {
			height: 65.45454545vw;
		}
	}

	&__main h2 {
		position: relative;
		left: ($grid * -3);
		margin: ($grid * 10) 0 0;
		padding: 0;
		font-size: 24rem;
		font-family: "Acropolis A", "Acropolis B", cursive;
		font-style: italic;
		font-weight: 800;
		color: $content-h2-color;
		text-transform: lowercase;
		line-height: 15rem;
		width: 61rem;
		overflow: visible;

		display: flex;
		flex-flow: row wrap;
		align-items: center;
		height: 96vh;

		overflow-wrap: break-word;
		word-wrap: break-word;

		&#about {
			margin-bottom: -1.5rem;
		}

		&#bem {
			@media #{$content-almost-touches-margins} { left: -6.25vw; }
		}

		&#classname {
			width: 65rem;
			@media #{$smaller-than-desktop} { width: 57rem; }
			@media #{$smaller-than-landscape-tablet} { width: 48rem; }
			@media #{$content-almost-touches-margins} { width: 96vw; }
		}

		&#collection {
			width: 58rem;
			@media #{$smaller-than-desktop} { width: 51rem; }
			@media #{$smaller-than-landscape-tablet} { width: 46rem; }
			@media #{$content-almost-touches-margins} { width: 96vw; }
		}

		&#dom {
			@media #{$content-almost-touches-margins} { width: 104vw; left: -6.25vw; }
		}

		&#geometry {
			width: 50rem;
			@media #{$smaller-than-desktop} { width: 44rem; left: 0; }
			@media #{$content-almost-touches-margins} { width: 94vw; }
		}

		&#promise {
			width: 50rem;
			@media #{$smaller-than-desktop} { width: 44rem; left: 0.75rem; }
			@media #{$content-almost-touches-margins} { width: 90vw; left: 1.5625vw; }
		}

		&#random {
			@media #{$content-almost-touches-margins} { width: 104vw; }
		}

		&#sort {
			@media #{$content-almost-touches-margins} { left: -4.6875vw; }
		}

		&#time {
			width: 45rem;
			@media #{$smaller-than-desktop} { width: 40rem; }
			@media #{$smaller-than-landscape-tablet} { width: 37rem; }
			@media #{$content-almost-touches-margins} { width: 76vw; }
		}

		@media #{$smaller-than-desktop} {
			left: ($grid * -2);
			font-size: 21rem;
			line-height: 13.5rem;
			width: 54rem;
		}

		@media #{$smaller-than-landscape-tablet} {
			margin-top: ($grid * 6);
			padding-top: ($grid * 6);
			width: 48rem;
			height: auto;

			font-size: 18.75rem;
			line-height: 0.65;
		}

		@media #{$content-almost-touches-margins} {
			font-size: 42vw;
			width: 100vw;
			left: -3.125vw;
		}

		@media #{$smaller-than-portrait-tablet} {
			margin-top: 0;
			padding-top: ($grid * 4);
			color: $content-h2-small-color;
		}
	}

	&__main h2 > * {
		position: relative;
		top: -0.05em;
		margin: auto 0;
		min-width: 0;
	}

	&__main h2 + blockquote {
		position: relative;
		margin-top: -33vh;
		margin-bottom: calc(33vh + #{$grid * 4});

		@media #{$smaller-than-landscape-tablet} {
			// margin-top: ($grid * -4);
			// margin-bottom: ($grid * 8);
			margin-top: 0;
			margin-bottom: 0;
		}

		@media #{$smaller-than-portrait-tablet} {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__main h3 {
		position: relative;
		top: 0;
		margin: ($grid * 8) ($grid * -2) ($grid * 2) ($grid * -2);
		font-size: 2rem;
		line-height: ($grid * 2);

		@media #{$smaller-than-portrait-tablet} {
			margin-top: ($grid * 1);
			margin-left: ($grid * -1);
			margin-right: ($grid * -1);
			margin-bottom: ($grid * 1.25);

			font-size: 1.35rem;
			line-height: ($grid * 1.35);
		}
	}

	&__main h3 a {
		position: relative;
		display: block;
		padding: (0.875rem + $grid) ($grid * 2) (0.625rem + $grid) ($grid * 2);

		@media #{$bigger-than-big-screen} {
			padding-top: 42px;
			padding-bottom: 39px;
		}

		@media #{$smaller-than-landscape-tablet} {
			padding-top: calc(#{$nav-mobile-height - 2} + #{0.875rem + $grid});
		}

		@media #{$smaller-than-portrait-tablet} {
			padding-top: calc(#{$nav-mobile-height - 2} + #{0.375rem + $grid});
			padding-left: $grid;
			padding-right: $grid;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $content-h3-bg-color;
			z-index: -1;

			@media #{$smaller-than-landscape-tablet} {
				height: calc(100% - #{$nav-mobile-height - 2});
			}
		}
	}

	&__main h3 code {
		position: relative;
		color: $content-h3-color;
		font-weight: 500;
	}

	h4 {
		position: relative;
		top: 0.4375rem;
		font-size: 1.0625rem;
		font-weight: 800;
		line-height: $grid;
		letter-spacing: 0.045em;
		margin: ($grid * 2) 0 $grid;

		@media #{$bigger-than-big-screen} {
			top: 8px;
		}

		@media #{$smaller-than-portrait-tablet} {
			margin-top: $grid * 1.5;
		}
	}

	table + h4 {
		margin-top: $grid;
	}

	h5 {

	}

	h6 {

	}

	p,
	li {
		position: relative;
		top: 0.5rem;
		margin: $grid 0 $grid;
		font-size: 1rem;
		letter-spacing: -0.025em;
		line-height: $grid;
		max-width: 40rem;

		@media #{$bigger-than-big-screen} {
			top: calc(0.5rem - 1px);
		}

		@media #{$smaller-than-portrait-tablet} {
			line-height: $grid * 1.25;
		}

		@media #{$smaller-than-landscape-phone} {
			width: calc(100% + #{$grid * 0.5});
			hyphens: auto;
		}
	}

	p code {
		background-color: $small-code-bg-color;
		color: $small-code-color;
		white-space: nowrap;
		letter-spacing: normal;
	}

	p a code {
		@extend %a-hairline;
	}

	p a:hover code,
	p a:active code {
		background-color: mix($small-code-bg-color, $link-hover-color, 50%);
	}

	p a:hover code {
		@media (hover: none) { background-color: transparent; }
	}

	p a:active code {
		@media (hover: none) { background-color: mix($small-code-bg-color, $link-hover-color, 50%); }
	}

	strong {
		font-weight: 600;
	}

	blockquote {
		margin: 0;
	}

	blockquote p {
		@extend %subtitle;
		hyphens: none;
	}

	a {
		position: relative;
		color: inherit;
		text-decoration: none;
		z-index: 2;

		@extend %a-hairline;
		background-color: transparent;
	}

	%a-hairline {
		background-position: 0 1.05em;
		background-size: 1rem 1rem;
		background-image: linear-gradient(to bottom, $link-hairline-color 1px, transparent 1px);
		background-repeat: repeat-x;
	}

	a:hover,
	a:active {
		background-color: $link-hover-color;
	}

	a:hover {
		@media (hover: none) { background-color: transparent; }
	}

	a:active {
		@media (hover: none) { background-color: $link-hover-color; }
	}

	a[name] {
		border: none;
		background: transparent;
	}

	a[name]:hover,
	a[name]:active {
		background: transparent;
	}

	ul,
	ol {
		position: relative;
		top: 0.5rem;
		margin: $grid 0;
		padding-left: $grid;
		line-height: $grid;

		@media #{$bigger-than-big-screen} {
			top: calc(0.5rem - 1px);
		}
	}

	li {
		position: relative;
		list-style: none;
		top: 0;
		margin-top: 0;
		margin-bottom: 0;

		&::before {
			content: "";
			position: absolute;
			top: 0.625rem;
			left: -1.375rem;
			display: inline-block;
			width: 0.375rem;
			height: 0.375rem;
			background-color: $text-color;
			transform: rotate(45deg);
			transform-origin: center;
		}
	}

	pre {
		position: relative;
		display: block;
		top: 0.5625rem;
		color: $big-code-color;
		background-color: $big-code-bg-color;
		margin: $grid ($grid * -2) ($grid * 2) ($grid * -2);
		padding: $grid $grid $grid ($grid * 2);
		line-height: $grid;
		overflow: auto;
		font-size: 0.9375rem;

		@media #{$bigger-than-big-screen} {
			top: 9px;
			padding-top: 27px;
			padding-bottom: 27px;
		}

		@media #{$smaller-than-portrait-tablet} {
			margin-left: $grid * -1;
			margin-right: $grid * -1;
			padding-top: (0.25rem + $grid);
			padding-left: $grid;
			padding-right: $grid;
			font-size: 0.875rem;
			line-height: $grid;
		}
	}

	pre code,
	pre span {
		line-height: 1;
	}

	code {
		font-family: "Fira Code", monospace;
		tab-size: 4;
		line-height: 1;
		font-weight: 400;
	}

	textarea {

	}

	table {
		position: relative;
		top: -0.25rem;
		width: 100%;
		border-collapse: collapse;
		margin-bottom: $grid;

		@media #{$bigger-than-big-screen} {
			top: -5px;
		}

		@media #{$smaller-than-portrait-tablet} {
			display: block;
		}
	}

	thead {
		@media #{$smaller-than-portrait-tablet} {
			display: none;
		}
	}

	tbody {
		@media #{$smaller-than-portrait-tablet} {
			display: block;
		}
	}

	tr {
		position: relative;

		@media #{$smaller-than-portrait-tablet} {
			display: block;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
		}
	}

	tbody::after {
		@media #{$smaller-than-portrait-tablet} {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: $table-hairline-color;
			transform: scaleY(0.5);
			transform-origin: 0 0;
		}
	}

	tbody tr::after {
		content: "";
		position: absolute;
		top: auto;
		left: 0;
		width: 100%;
		height: 1px;
		background: $table-hairline-color;
		transform: scaleY(0.5);
		transform-origin: 0 0;

		@media #{$smaller-than-portrait-tablet} {
			top: 0;
		}
	}

	th {
		position: relative;
		text-align: left;
		padding: 0 $grid 0 0;

		font-size: 0.5625rem;
		text-transform: uppercase;
		letter-spacing: 0.35em;
		font-weight: 500;
	}

	td {
		font-size: 0.875rem;
		font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
		vertical-align: top;
		padding: ($grid / 2) $grid ($grid / 2) 0;

		@media #{$bigger-than-big-screen} {
			padding-top: 14px;
			padding-bottom: 13px;
		}

		@media #{$smaller-than-portrait-tablet} {
			position: relative;
			display: block;
			width: auto;
			padding: 0.25rem 0;

			&:empty {
				display: none;
			}

			&::before {
				position: relative;
				display: block;

				font-size: 0.5625rem;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.175em;
				font-weight: 500;
			}

			$fake-col-width: 3.75rem;
			$fake-col-left: -3.75rem;

			&:nth-child(1):nth-last-child(3),
			&:nth-child(1):nth-last-child(4) {
				margin-left: $fake-col-width;

				&::before {
					position: absolute;
					left: $fake-col-left;
					margin-top: 0.0625rem;
					content: "name";
				}
			}

			&:nth-child(2):nth-last-child(3) {
				margin-left: $fake-col-width;

				&::before {
					position: absolute;
					left: $fake-col-left;
					margin-top: 0.0625rem;
					content: "default";
				}
			}

			&:nth-child(1):nth-last-child(1),
			&:nth-child(1):nth-last-child(2),
			&:nth-child(2):nth-last-child(2),
			&:nth-child(3):nth-last-child(2) {
				margin-left: $fake-col-width + 0.3125rem;

				&::before {
					position: absolute;
					left: $fake-col-left - 0.3125rem;
					margin-top: 0.0625rem;
					content: "type";
				}
			}

			&:nth-child(2):nth-last-child(1),
			&:nth-child(3):nth-last-child(1),
			&:nth-child(4):nth-last-child(1) {
				&::before {
					// content: "description";
				}
			}
		}
	}

	td strong {
		position: relative;
		top: -0.125rem;
		font-family: "Whitney Narrow SSm A", "Whitney Narrow SSm B", sans-serif;
		font-size: 0.5625rem;
		text-transform: uppercase;
		letter-spacing: 0.115em;
		font-weight: 600;
		line-height: 0.875rem;
		margin-left: 0.125rem;
		padding: 1px 0.25rem;
		background: $optional-bg-color;
		color: $optional-color;
	}

	td code {
		font-weight: 400;
		padding: 1px 0.25rem;
		background-color: $small-code-bg-color;
		color: $small-code-color;
		white-space: nowrap;
	}

	td em {
		font-style: normal;
	}

	td:nth-last-child(1) {
		padding-right: 0;
	}

	td:nth-last-child(n + 2) {
		white-space: nowrap;
	}

	[id^="return"] + table,
	[id^="parameter"] + table {
		td:nth-child(1):nth-last-child(4),
		td:nth-child(2):nth-last-child(3),
		td:nth-child(3):nth-last-child(2) {
			min-width: 20%;
		}

		td:nth-child(1):nth-last-child(3),
		td:nth-child(2):nth-last-child(2),
		td:nth-child(1):nth-last-child(2) {
			width: 20%;

			@media #{$smaller-than-portrait-tablet} {
				width: auto;
			}
		}
	}
}

.content__inner {
	margin-left: calc(#{$nav-width} + (0.25 * (100vw - #{$nav-width + $full-content-width + $content-left-padding + $content-right-padding})));
	margin-bottom: 50vh;
	padding: 0 $content-right-padding 0 $content-left-padding;
	max-width: $full-content-width;

	@media #{$way-bigger-than-big-screen} {
		margin-left: auto;
		margin-right: auto;
	}

	@media #{$content-touches-menu} {
		margin-left: $nav-width;
	}

	@media #{$smaller-than-landscape-tablet} {
		margin-left: auto;
		margin-right: auto;
		padding: 0 $content-right-padding;
	}

	@media #{$smaller-than-portrait-tablet} {
		padding: 0 $grid;
	}

	&--grid {
		@extend %grid;
	}
}

%subtitle {
    position: relative;
    left: -0.25rem;
    margin: $grid 0;
    font-family: "Whitney Narrow A", "Whitney Narrow B", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: ($grid * 2);
    word-spacing: 0.15em;
 
    @media #{$smaller-than-desktop} {
        font-size: 2rem;
    }
 
    @media #{$smaller-than-portrait-tablet} {
        font-size: 1.75rem;
        line-height: ($grid * 1.5);
    }

    a {
		@media #{$bigger-than-desktop} {
			background-image: linear-gradient(to bottom, $link-hairline-color 2px, transparent 1px);
		}
	}
}

.content__intro {
	@media #{$bigger-than-landscape-tablet} {
		> *:nth-child(1), {
			// margin-top: 0;
		}
	}

	h2 {
		position: relative;
		display: block;
		margin: ($grid * 2) 0 -0.25rem;
		padding: ($grid + 0.25rem) 0 0;
		height: auto;
		left: -0.5rem;
		color: $intro-h2-color;
		font-size: 4.5rem;
		font-family: "Acropolis A", "Acropolis B", cursive;
		font-style: italic;
		font-weight: 800;
		line-height: 1;
		text-transform: lowercase;

		@media #{$smaller-than-landscape-tablet} {
			margin: 0 0 -0.25rem;
			padding: ($grid * 4 + 0.25rem) 0 0;
		}

		@media #{$smaller-than-portrait-tablet} {
			color: $intro-h2-small-color;
		}
	}

	h2 > * {
		position: static;
	}

	h3 {
		@extend %subtitle;
		margin-top: $grid;
		margin-bottom: ($grid * 2) - 0.625rem;
		padding-top: ($grid * 1) + 0.625rem;
		word-spacing: normal;
		background: none;
		font-weight: 300;
		color: $intro-h3-color;
		letter-spacing: -0.015em;
		word-spacing: normal;

		@media #{$smaller-than-desktop} {
			margin-top: 4.6875rem;
			margin-bottom: 2.1875rem;
		}

		@media #{$smaller-than-landscape-tablet} {
			margin-top: 0;
			padding-top: 5.3125rem;
		}

		a {
			display: inline;
			padding: 0;
		}
	}

	hr {
		display: none;
	}

	pre {
		margin-left: 0;
		margin-right: 0;
		padding-left: $grid;
		padding-right: $grid;

		@media #{$smaller-than-portrait-tablet} {
			margin-left: $grid * -1;
			margin-right: $grid * -1;
			padding-top: (0.25rem + $grid);
			padding-left: $grid;
			padding-right: $grid;
		}
	}

	h2 ~ p strong a {
		display: inline-block;
		margin-top: 1rem;
		padding: 1rem 1.125rem;
		border: 1px solid $button-color;
		color: $button-color;
		font-family: "Acropolis A", "Acropolis B", cursive;
		font-style: italic;
		font-weight: 800;
		text-transform: lowercase;
		font-size: 1.75rem;
		line-height: 1.5rem;

		position: relative;
		left: -0.25rem;
		margin: $grid 0;
		font-family: "Whitney Narrow A", "Whitney Narrow B", sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 2.5rem;
		line-height: 3rem;
		word-spacing: 0.15em;

		&::after {
			display: none;
		}
	}

	#using-canivete-with-rollup + p,
	#using-canivete-with-webpack + p,
	h3 ~ .highlighter-rouge + p {
		text-indent: $grid * -1;
		margin-left: $grid;
		width: calc(100% - #{$grid * 0.5});

		strong {
			display: inline-block;
			width: 1.1875rem;
			text-indent: 0;
		}
	}

	a[href*="github.com/leofavre/canivete"] {
		display: inline-block;
		padding: 0.75rem 1rem 0.75rem 3.75rem;
		background: $text-color;
		color: #fff;
		font-weight: 600;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0.8rem;
			display: block;
			vertical-align: middle;
			width: 2.35rem;
			height: 100%;
			background: url(../media/github.svg) no-repeat center;
			background-size: contain;
		}

		&:hover,
		&:active {
			background-color: $logo-hover-color;
		}

		&:hover {
			@media (hover: none) { background-color: $text-color; }
		}

		&:active {
			@media (hover: none) { background-color: $logo-hover-color; }
		}
	}
}
