.content {
	padding: 0 $grid ($grid * 2) ($grid * 2);
	overflow-x: hidden;
	overflow-y: auto;
	line-height: $grid;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;

	flex-basis: calc(#{$full-content-width} + ((100% - #{$full-content-width}) / 2));
	flex-grow: 0;
	flex-shrink: 1;

	// background-position: 5px 0;
	// background-size: $grid $grid;
	// background-image: linear-gradient(to bottom, lightblue 1px, transparent 1px);
	// background-attachment: scroll;

	h1 {

	}

	h2 {
		position: relative;
		top: 0;
		left: -8px;
		padding: 45px 0 0;
		margin: ($grid * 6) 0 51px;

		font-size: 106px;
		line-height: ($grid * 3);
		font-family: "Whitney Narrow A", "Whitney Narrow B", sans-serif;
		font-weight: 300;
	}

	h2:nth-child(1) {
		margin-top: 0;
	}

	h2 + h3,
	h2 + p + h3 {
		margin-top: ($grid * 2);
	}

	h3 {
		position: relative;
		top: 0;
		font-size: 32px;
		line-height: ($grid * 2);
		background: rgba($grey, 0.2);
		margin: ($grid * 8) ($grid * -1) ($grid * 2) ($grid * -2);
		padding: (14px + $grid) $grid (10px + $grid) ($grid * 2);
	}

	h3 > code {
		font-weight: 500;
		// letter-spacing: -0.01em;
	}

	h4 {
		position: relative;
		top: 7px;
		font-size: 17px;
		font-weight: 800;
		line-height: $grid;
		letter-spacing: 0.045em;
		margin: ($grid * 2) 0 $grid;
	}

	h4 + table {
		// margin-top: ($grid * -1);
	}

	h5 {

	}

	h6 {

	}

	p {
		position: relative;
		top: 8px;
		font-size: 16px;
		line-height: $grid;
		margin: $grid 0 $grid;
	}

	p > code {
		padding: 1px 4px 1px 4px;
		background-color: rgba($grey, 0.2);
	}

	p > strong {
		font-weight: 600;
	}

	a {
		color: #000;
	}

	ul {

	}

	ol {

	}

	li {

	}

	pre {
		white-space: pre-wrap;
		margin: 0 0 -16px;
	}

	pre > code {
		background-color: rgba(#272822, 1);
		color: #f8f8f2;
		margin: $grid ($grid * -1) ($grid * 2) ($grid * -2);
		padding-top: 56px;
		padding-bottom: 56px;
		padding-left: ($grid * 2);
		padding-right: $grid;
		line-height: $grid;
	}

	code {
		font-family: "Fira Code", monospace;
		// font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
		tab-size: 4;
		line-height: 20px;
		font-weight: 500;
	}

	textarea {

	}

	table {
		position: relative;
		// top: 8px;
		width: 100%;
		border-collapse: collapse;
		margin-top: -4px;
		margin-bottom: 52px;
	}

	tbody tr {
		border-top: 1px solid rgba($grey, 0.1);
	}

	tr:nth-child(even) {
		// background: rgba($grey, 0.1);
	}

	th {
		position: relative;
		// top: -13px;
		text-align: left;
		padding: 0 $grid 0 0;

		font-size: 9px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 500;
	}

	td {
		font-size: 14px;
		vertical-align: top;
		padding: (($grid / 2) - 1) $grid ($grid / 2) 0;
	}

	td > strong {
		position: relative;
		top: -2px;
		font-size: 9px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 700;
		line-height: 14px;
		padding: 1px 3px;
		background: #000;
		color: #fff;
	}

	td > code {
		font-weight: 500;
		padding: 1px 4px;
		background-color: rgba($grey, 0.2);
	}

	td > em {
		font-style: normal;
	}

	td:nth-last-child(1) {
		padding-right: 0;
	}

	td:nth-last-child(n + 1) {
		white-space: nowrap;
	}

	[id^="return"] + table,
	[id^="parameter"] + table {
		td:nth-child(1):nth-last-child(4),
		td:nth-child(2):nth-last-child(3),
		td:nth-child(3):nth-last-child(2) {
			min-width: 20%;
		}

		td:nth-child(1):nth-last-child(3),
		td:nth-child(2):nth-last-child(2),
		td:nth-child(1):nth-last-child(2) {
			width: 20%;
		}
	}
}

.content__area {
	max-width: $full-content-width;
	margin-bottom: $grid * 30
}
