.content {
	padding: 0 $grid ($grid * 2) ($grid * 2);
	overflow-x: hidden;
	overflow-y: auto;
	line-height: $grid;
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;

	flex-basis: calc(#{$full-content-width} + ((100% - #{$full-content-width}) / 2));
	flex-grow: 4;
	flex-shrink: 4;

	// background-position: 0.3125rem 0;
	// background-size: $grid $grid;
	// background-image: linear-gradient(to bottom, lightblue 1px, transparent 1px);
	// background-attachment: scroll;

	h1 {

	}

	h2 {
		position: relative;
		top: 0;
		left: -0.5rem;
		padding: 2.8125rem 0 0;
		margin: ($grid * 6) 0 3.1875rem;

		font-size: 6.625rem;
		line-height: ($grid * 3);
		font-family: "Whitney Narrow A", "Whitney Narrow B", sans-serif;
		font-weight: 300;
	}

	h2 + h3,
	h2 + p + h3 {
		margin-top: ($grid * 2);
	}

	h3 {
		position: relative;
		top: 0;
		font-size: 2rem;
		line-height: ($grid * 2);
		background: rgba($grey, 0.2);
		margin: ($grid * 8) ($grid * -1) ($grid * 2) ($grid * -2);
		padding: (0.875rem + $grid) $grid (0.625rem + $grid) ($grid * 2);

		@media only screen and (min-width: 1400px) {
			padding-top: 42px;
			padding-bottom: 39px;
		}
	}

	h3 > code {
		font-weight: 500;
	}

	h4 {
		position: relative;
		top: 0.4375rem;
		font-size: 1.0625rem;
		font-weight: 800;
		line-height: $grid;
		letter-spacing: 0.045em;
		margin: ($grid * 2) 0 $grid;

		@media only screen and (min-width: 1400px) {
			top: 8px;
		}
	}

	h5 {

	}

	h6 {

	}

	p {
		position: relative;
		top: 0.5rem;
		margin: $grid 0 $grid;
		font-size: 1rem;
		letter-spacing: -0.0125em;
		line-height: $grid;

		@media only screen and (min-width: 1400px) {
			top: calc(0.5rem - 1px);
		}
	}

	p code {
		padding: 1px 0.25rem;
		background-color: rgba($grey, 0.2);
	}

	p strong {
		font-weight: 600;
	}

	a {
		color: #000;
	}

	ul,
	ol {
		position: relative;
		top: 0.5rem;
		margin: $grid 0;
		line-height: $grid;

		@media only screen and (min-width: 1400px) {
			top: calc(0.5rem - 1px);
		}
	}

	li {

	}

	pre {
		background-color: rgba(#272822, 1);
		color: #f8f8f2;
		margin: $grid ($grid * -1) ($grid * 2) ($grid * -2);
		padding: 3.5rem $grid 2.5rem ($grid * 2);
		line-height: $grid;
		overflow: auto;

		@media only screen and (min-width: 1400px) {
			padding-top: 62px;
			padding-bottom: 46px;
		}
	}

	pre code {
		line-height: $grid;

		@media only screen and (min-width: 1400px) {
			line-height: 1.25rem;
		}
	}

	code {
		font-family: "Fira Code", monospace;
		tab-size: 4;
		line-height: 1.25rem;
		font-weight: 500;
	}

	textarea {

	}

	table {
		position: relative;
		top: -0.25rem;
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 3rem;

		@media only screen and (min-width: 1400px) {
			top: -5px;
		}
	}

	tr {
		position: relative;
	}

	tbody tr {
		border-top: 1px solid rgba($grey, 0.2);
	}

	th {
		position: relative;
		text-align: left;
		padding: 0 $grid 0 0;

		font-size: 0.5625rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 500;
	}

	td {
		font-size: 0.875rem;
		vertical-align: top;
		padding: calc(#{$grid / 2} - 1px) $grid ($grid / 2) 0;

		@media only screen and (min-width: 1400px) {
			padding-top: 13px;
			padding-bottom: 13px;
		}
	}

	td > strong {
		position: relative;
		top: -0.125rem;
		font-size: 0.5625rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 700;
		line-height: 0.875rem;
		padding: 1px 0.25rem;
		background: #000;
		color: #fff;
	}

	td > code {
		font-weight: 500;
		padding: 1px 0.25rem;
		background-color: rgba($grey, 0.2);
	}

	td > em {
		font-style: normal;
	}

	td:nth-last-child(1) {
		padding-right: 0;
	}

	td:nth-last-child(n + 1) {
		white-space: nowrap;
	}

	[id^="return"] + table,
	[id^="parameter"] + table {
		td:nth-child(1):nth-last-child(4),
		td:nth-child(2):nth-last-child(3),
		td:nth-child(3):nth-last-child(2) {
			min-width: 20%;
		}

		td:nth-child(1):nth-last-child(3),
		td:nth-child(2):nth-last-child(2),
		td:nth-child(1):nth-last-child(2) {
			width: 20%;
		}
	}
}

.content__area {
	max-width: $full-content-width;
	margin-bottom: $grid * 30;

	> *:nth-child(1) {
		margin-top: 0;
	}
}
