html {
	height: auto;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;

	@media #{$bigger-than-big-screen} {
		font-size: 18px;
	}

	@media #{$smaller-than-landscape-phone} {
		font-size: 15px;
	}
}

html.mode--native-scroll {
	height: auto;
}

html.mode--local-scroll {
	height: 100%;
}