.layout {

	// single column

	@media #{$smaller-than-landscape-tablet} {
		.content {
			width: 100%;
			overflow: hidden;
		}
	}

	// two columns

	@media #{$bigger-than-landscape-tablet} {
		height: 100%;

		.page {
			height: 100%;
		}

		.page__inner {
			height: 100%;
			overflow: hidden;
		}

		.content {
			overflow: auto;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}
