.menu {
	background-color: #fff;
	display: none;
	flex: none;
	height: 100%;
	overflow-y: auto;
	padding: $grid ($grid * 2) $grid $grid;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	// transform: translateZ(0);
	// will-change: scroll-position;
	z-index: 1;
	-webkit-overflow-scrolling: touch;

	box-shadow: 0 0 0.5rem #9da5ab;
	display: block;
	flex: 6 3 0;
	height: auto;
	position: relative;

	display: flex;
	flex-flow: row wrap;

	background-position: 5px 0;
	background-size: $grid $grid;
	background-image: linear-gradient(to bottom, lightblue 1px, transparent 1px);
	background-attachment: scroll;

	ul {
		position: relative;
		top: 8px;
		margin: $grid 0;
		padding: 0;
	}

	ul ul {
		top: 0px;
	}

	li {
		list-style: none;
		line-height: $grid;
	}

	li strong {
		font-size: 17px;
		font-weight: 800;
		line-height: 23px;
		letter-spacing: 0.045em;
	}

	li li {
		font-family: "Fira Code", monospace;
	}

	a {
		color: #000;
	}
}

.menu__area {
	margin-left: auto;
}
