.menu {
	position: relative;
	padding: $grid ($grid * 2);
	height: auto;
	box-shadow: 0 0 0.5rem rgba(#000, 0.3);
	box-sizing: border-box;

	flex-basis: calc((100% - #{$full-content-width}) / 2);
	flex-grow: 0;
	flex-shrink: 1;
	min-width: 230px;
	min-width: min-content;

	display: flex;
	flex-flow: row wrap;

	overflow-x: hidden;
	overflow-y: auto;

	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	z-index: 1;

	// background-position: 5px 0;
	// background-size: $grid $grid;
	// background-image: linear-gradient(to bottom, lightblue 1px, transparent 1px);
	// background-attachment: scroll;

	ul {
		position: relative;
		top: 8px;
		margin: $grid 0;
		padding: 0;
	}

	ul ul {
		top: 0px;
	}

	li {
		position: relative;
		top: -1px;
		list-style: none;
		line-height: $grid;
	}

	li strong {
		font-size: 17px;
		font-weight: 800;
		line-height: $grid;
		letter-spacing: 0.045em;
	}

	li li {
		top: 2px;
		font-family: "Fira Code", monospace;
		font-size: 14px;
	}

	a {
		display: block;
		color: #000;
		text-decoration: none;
	}
}

.menu__area {
	margin-left: auto;
}
