.menu {
	background-color: #fff;
	display: none;
	flex: none;
	height: 100%;
	overflow-y: auto;
	padding: 2.4rem;
	position: absolute;
	right: 0;
	top: 0;
	white-space: nowrap;
	// transform: translateZ(0);
	// will-change: scroll-position;
	z-index: 1;
	-webkit-overflow-scrolling: touch;

	box-shadow: 0 0 0.5rem #9da5ab;
	display: block;
	flex: 6 3 0;
	height: auto;
	position: relative;

	display: flex;
	flex-flow: row wrap;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

	li li {
		font-family: "Fira Code", monospace;
	}
}

.menu__area {
	margin-left: auto;
}
