.page {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;

	margin: 0;
	color: $text-color;
	background: $background-color;

	height: auto;

	.mode--native-scroll & {
		height: auto;
	}

	.mode--local-scroll & {
		height: 100%;
	}
}

.page__inner {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	overflow: auto;

	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	.mode--native-scroll & {
		height: auto;
		overflow: auto;
	}

	.mode--local-scroll & {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
