.page {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;

	margin: 0;
	background: #fff;

	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100%;
	overflow: auto;
}
