html {
    font-size: 16px;
}

@font-face{
    font-family: "Fira Code";
    src: url("../fonts/eot/FiraCode-Regular.eot");
    src: url("../fonts/eot/FiraCode-Regular.eot") format("embedded-opentype"),
         url("../fonts/woff2/FiraCode-Regular.woff2") format("woff2"),
         url("../fonts/woff/FiraCode-Regular.woff") format("woff"),
         url("../fonts/ttf/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Fira Code";
    src: url("../fonts/eot/FiraCode-Medium.eot");
    src: url("../fonts/eot/FiraCode-Medium.eot") format("embedded-opentype"),
         url("../fonts/woff2/FiraCode-Medium.woff2") format("woff2"),
         url("../fonts/woff/FiraCode-Medium.woff") format("woff"),
         url("../fonts/ttf/FiraCode-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}