$grid: 1.5rem;
$full-content-width: 42rem;
$nav-width: 14.5rem;
$nav-mobile-height: 40px;

$content-left-padding: ($grid * 3);
$content-right-padding: ($grid * 2);


// breakpoints

$way-bigger-than-big-screen: "only screen and (min-width: 1672px)";
$bigger-than-big-screen: "only screen and (min-width: 1400px)";
$bigger-than-desktop: "only screen and (min-width: 1101px)";
$smaller-than-desktop: "only screen and (max-width: 1100px)";
$bigger-than-landscape-tablet: "only screen and (min-width: 1024px)";
$smaller-than-landscape-tablet: "only screen and (max-width: 1023px)";
$content-touches-menu: "only screen and (max-width: #{$nav-width + $full-content-width + $content-left-padding + $content-right-padding})";
$content-almost-touches-margins: "only screen and (max-width: 820px)";
$smaller-than-portrait-tablet: "only screen and (max-width: 700px)";
$smaller-than-landscape-phone: "only screen and (max-width: 550px)";
$portrait-phone: "only screen and (max-width: 400px)";


// bubble gum color scheme

$background-color: mix(#fbfbf7, white, 100%);
$text-color: #3d464d;

$logo-color: #fb1e70;
$logo-hover-color: #c02e75;

$intro-h2-color: $text-color;
$intro-h2-small-color: $text-color;
$intro-h3-color: $text-color;

$button-color: $logo-color;
$button-hover-color: $logo-hover-color;

$content-h2-color: #c7efef;
$content-h2-small-color: mix(#7ae1e6, $content-h2-color, 15%);
$content-h3-color: #7ae1e6;
$content-h3-bg-color: $text-color;

$small-code-color: $text-color;
$small-code-bg-color: $content-h2-color;
$optional-color: $background-color;
$optional-bg-color: $text-color;

$link-hairline-color: $logo-color;
$link-hover-color: rgba($link-hairline-color, 0.2);

$menu-hairline-color: mix($text-color, $background-color, 50%);
$table-hairline-color: $menu-hairline-color;

$big-code-color: $text-color;
$big-code-bg-color: mix(#f0f3f5, black, 95%);

$code-blue: #07a;
$code-red: $logo-color;
$code-str: #46a805;
$code-purple: #813dff;
$comment: $menu-hairline-color;

$menu-item-color: $text-color;
$menu-item-selected-bg: $big-code-bg-color;
$menu-item-hover-bg: mix($menu-item-selected-bg, $background-color, 25%);

$nav-mobile-header-background: #32383e;
$nav-switch-color: $background-color;
