$grid: 1.5rem;
$content-width: 38.75rem;
$full-content-width: $content-width + ($grid * 3);

// $dark: #272822;
$grey: #94917b;
$light-grey: lighten($grey, 20%);

$text: #b3b3b3;
$dark: #272822;
$darker: #1b1c18;
$aqua: #7ae1e6;

$code-grey: $darker;
$link-color: #f92672;

$hairline-grey: mix($darker, white, 30%);
$hairline-dark: mix($darker, black, 30%);

$comment: mix($text, $darker, 30%);




// sublime text

$background-color: $dark;
$text-color: $text;

$logo-color: $aqua;
$menu-item-color: $aqua;

$intro-h2-color: $darker;
$content-h2-color: $darker;
$content-h3-color: $text;
$content-h3-bg-color: $darker;

$small-code-color: $text;
$small-code-bg-color: $darker;
$big-code-color: $text;
$big-code-bg-color: $darker;
$optional-color: $darker;
$optional-bg-color: $aqua;

$link-hairline-color: $link-color;
$menu-hairline-color: $hairline-dark;
$table-hairline-color: $hairline-grey;


// bubble gum

$background-color: mix(#fbfbf7, white, 100%);
$text-color: #3d464d;

$logo-color: #f92672;

$intro-h2-color: #d4f3f3;
$intro-h3-color: $text-color;

$button-color: $logo-color;
$button-bg-color: $intro-h2-color;

$content-h2-color: $intro-h2-color;
$content-h3-color: #7ae1e6;
$content-h3-bg-color: $text-color;

$small-code-color: $text-color;
$small-code-bg-color: $content-h2-color;
$optional-color: $background-color;
$optional-bg-color: $text-color;

$link-hairline-color: $logo-color;
$link-hover-color: rgba($link-hairline-color, 0.2);

$menu-hairline-color: mix($text-color, $background-color, 50%);
$table-hairline-color: $menu-hairline-color;

$big-code-color: $text-color;
$big-code-bg-color: mix(#f0f3f5, black, 95%);

$code-blue: #07a;
$code-red: $logo-color;
$code-str: #46a805;
$code-purple: #813dff;
$comment: $menu-hairline-color;

$menu-item-color: $text-color;
$menu-item-selected-bg: $big-code-bg-color;
$menu-item-hover-bg: mix($menu-item-selected-bg, $background-color, 50%);
